.slide1{
    background-image: url('../images/good.png');
    background-size: cover;
}
.slide2{
    background-image: url('../images/swarmbot.jpg');
    background-size: cover;
    //background-size: 100% 100%;
}
.slide3{
    background-image: url('../images/slider4.jpg');
    background-size: cover;
}
