// Foundation Tabs

$backColor: rgb(51,51,51);
$selected: rgb(75,75,75);
$active: rgb(40,40,40);


.tabs {
  height: 52px;
  background: $backColor;
  *zoom: 1;
  margin-bottom: 0 !important; 
}
.tabs:before, .tabs:after {
  content: " ";
  display: table; 
}
.tabs:after {
  clear: both; 
}
.tabs dd {
  position: relative;
  margin-bottom: 0 !important;
  top: 1px;
  float: left; 
}
  .tabs dd > a {
    display: block;
    background: transparent;
    color: white;
    padding-top: 0.88889rem;
    padding-right: 1.77778rem;
    padding-bottom: 0.94444rem;
    padding-left: 1.77778rem;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 0.88889rem; 
  }
    .tabs dd > a:hover {
      background: $selected; 
    }
  .tabs dd.active a {
    background: $active; 
  }
.tabs.radius dd:first-child a {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; 
}
.tabs.radius dd:last-child a {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; 
}
.tabs.vertical dd {
  position: inherit;
  float: none;
  display: block;
  top: auto; 
}

.tabs-content {
  *zoom: 1;
  margin-bottom: 1.33333rem; 
}
.tabs-content:before, .tabs-content:after {
  content: " ";
  display: table; 
}
.tabs-content:after {
  clear: both; 
}
.tabs-content > .content {
  display: none;
  float: left;
  /*padding: 0.83333rem 0;*/ }
  .tabs-content > .content.active {
    display: block; }
  .tabs-content > .content.contained {
    padding: 0.83333rem; 
  }

.tabs-content.vertical {
  display: block; 
}
  .tabs-content.vertical > .content {
    padding: 0 0.83333rem; 
  }

@media only screen and (min-width:40.063em) {
.tabs.vertical {
  width: 20%;
  float: left;
  margin-bottom: 1.25rem; 
}
.tabs-content.vertical {
  width: 80%;
  float: left;
  margin-left: -1px; 
} 
}
