html{
	font-family: "Calibri";
	background-color: darkgrey;
}

body{
	margin: 0px;
	background-color: transparent;
}

h1{
	font-size: 75px;
	text-align: center;
	font-variant: small-caps;

	background-color: seagreen;

	padding: 20px;

	margin: 0px;

}

h2{
	
	font-size: 48px;
	font-variant: small-caps;
	background-color: black;
	color: grey;
	
	margin: 40px;
	margin-bottom: 10px;
	margin-top: 20px;
	padding-left: 20px;

	border-style: none;
	border-radius: 2px;
	border-color: seagreen;
}

h3{
	font-size: 30px;
	font-variant:  small-caps;

	background-color: transparent;

	margin: 10px;
	margin-left: 20px;
}


p{
	font-size: 40px;
	color: black;

	background-color: transparent;


}

li{
	font-size: 36px;
	color: black;

	background-color: transparent;

	margin-left: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
}

div{
	background-color: white;
	box-shadow: 10px 10px 10px grey;

	margin: 10px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 20px;

	border-radius: 3px;
}

table{

	font-variant: small-caps;
	font-size: 40px;
	color: white;

	background-color: seagreen;
	box-shadow: 0px 10px 10px grey;
	width: 100%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;


}
td{
	color: white;
	text-align: center;
	
	width: 50%;
	
	font-variant: uppercase;
	
	padding: 15px;

}

a{
	color: black;
	text-decoration: none;
	text-align: center;
	font-variant: small-caps;
	font-size: 60px;
}
a:link{

}
a:active{

}
a:visited{

}
a:hover{

}

