html{
	font-family: "Calibri";
	background-color: rgb(200,205,200);
}

body{
	margin: 0px;
}

h1{
	color: white;
	font-size: 72px;
	text-align: center;
	font-variant: small-caps;

	background-color: rgb(45,95,80);

	padding: 50px;
	margin: 0px;

}

h2{
	font-size: 48px;
	font-variant: small-caps;
	background-color: rgba(75,125,100,1);
	color: white;
	
	margin: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-left: 20px;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;


}

h3{
	font-size: 40px;
	font-variant:  small-caps;

	margin: 10px;
	margin-left: 20px;
}

h4{
	color: green;	
	font-size: 40px;

	padding: 20px;
}


p{
	font-size: 40px;
	color: black;

	padding: 20px;

}

li{
	font-size: 24px;
	color: black;

	margin-left: 30px;
	padding-left: 20px;
	padding-bottom: 10px;

	list-style: square;
}
dl{
	margin: 0px;
	padding: 0px;
}
dt{
	font-size: 32px;

	padding-left: 40px;
	padding-right: 20px;

	list-style: square;
}
dd{
	font-size:  24px;
}

#textbox{
	background-color: rgb(250,255,250);
	
	margin-top: 0px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
	padding: 0px;
	padding-bottom: 10px;

	box-shadow: 10px 10px 10px rgb(50,50,50);
	border-radius: 3px;
}

#smallbox{
	text-align: center;
	font-size: 10px;
	vertical-align: middle;
	background-color: rgb(100,105,100);

	padding: 20px;

}

table{

	font-variant: small-caps;
	font-size: 40px;
	color: white;

	background-color: rgba(25,75,50,255);
	box-shadow: 0px 5px 10px rgb(50,50,50);
	width: 100%;
	
	border-collapse: collapse;

}
td{
	color: white;
	text-align: center;
	font-variant: uppercase;

	width: 33%;
	

	border-color: black;
	border-radius: 5px;
	border-style: solid;

}


a{
	width: 100%;
	height: 100%;
	display: block;

	color: white;
	text-decoration: none;
	text-align: center;
	font-variant: small-caps;
	font-size: 60px;

	padding-bottom: 20px;
	padding-top: 20px;
}
a:link{

}
a:active{

}
a:visited{

}
a:hover{
	color: rgb(100,150,125);

	background-color: white;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#image{
	text-align: center;
    
    width: 100%; 
    height: 100%; 

   	padding-bottom: 40px;

    background-color: rgb(10,20,15);
}
