body{
    font-family: 'Calibri';
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}
h1{
    background-color: rgb(51,151,240);
    padding: 20px;
    border-radius: 5px;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 2px;

}
h2{
    font-size: 18px;
    margin: 0px;
}
p{
    margin: 0px;
}
img{
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}
/*div{
    background-color: rgb(250,250,250);
    padding: 20px;
}*/
.myCode{
    background-color: rgba(0,0,0,.1);
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    overflow: auto;
}
.Issue{
    padding: 20px;
    background-color: rgb(240,51,40);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 5px;
    border-bottom-color: grey;
}


.Resolution{
    padding: 20px;
    background-color: rgb(40,240,151);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 5px;
    border-bottom-color: grey;
    margin-bottom: 10px;
}
