/* 
 * style.css
 * CSS file for Ryan Dougherty's Website
*/
/*Body*/
/* line 7, ../sass/resume.scss */
html {
  font-family: "Calibri";
  background-image: url("../images/binding_dark.png");
}

/* line 13, ../sass/resume.scss */
body {
  margin: 0px;
  font-family: 'Calibri';
  background-image: url("../images/binding_dark.png");
}

/*Headers*/
/* line 20, ../sass/resume.scss */
.resume {
  background-color: transparent;
  /*Paragraph*/
  /*Lists*/
  /*Custom Dividers*/
}
/* line 22, ../sass/resume.scss */
.resume h1 {
  color: white;
  font-size: 72px;
  text-align: center;
  font-variant: small-caps;
  background-color: #0a4b32;
  text-shadow: 2px 2px 5px #0a140f;
  padding: 16px;
  margin: 0px;
}
/* line 34, ../sass/resume.scss */
.resume h2 {
  font-size: 48px;
  font-variant: small-caps;
  color: white;
  background-color: #3c6455;
  text-shadow: 2px 2px 2px #0a140f;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-left: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 50, ../sass/resume.scss */
.resume h3 {
  font-size: 40px;
  font-variant: small-caps;
  margin: 10px;
  margin-left: 20px;
}
/* line 57, ../sass/resume.scss */
.resume h4 {
  color: #0a4b32;
  font-size: 40px;
  padding: 20px;
}
/* line 65, ../sass/resume.scss */
.resume p {
  font-size: 40px;
  color: black;
  padding: 20px;
}
/* line 73, ../sass/resume.scss */
.resume li {
  font-size: 24px;
  color: black;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  list-style: square;
}
/* line 84, ../sass/resume.scss */
.resume dl {
  margin: 0px;
  padding: 0px;
}
/* line 88, ../sass/resume.scss */
.resume dt {
  font-size: 32px;
  padding-left: 40px;
  padding-right: 20px;
  list-style: square;
}
/* line 96, ../sass/resume.scss */
.resume dd {
  font-size: 24px;
  padding-left: 20px;
}
/* line 102, ../sass/resume.scss */
.resume .textbox {
  background-color: #fafffa;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 0px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 10px #141414;
  border-radius: 3px;
}
/* line 115, ../sass/resume.scss */
.resume .smallbox {
  text-align: center;
  font-size: 10px;
  vertical-align: middle;
  background-color: #646964;
  padding: 20px;
  height: 100%;
}
