/* line 1, ../sass/sideProjects.scss */
.slide1 {
  background-image: url("../images/good.png");
  background-size: cover;
}

/* line 5, ../sass/sideProjects.scss */
.slide2 {
  background-image: url("../images/swarmbot.jpg");
  background-size: cover;
}

/* line 10, ../sass/sideProjects.scss */
.slide3 {
  background-image: url("../images/slider4.jpg");
  background-size: cover;
}

/* line 15, ../sass/sideProjects.scss */
.swarmbot-orbit {
  height: 480px;
  display: block;
  margin: 0 auto;
}

/* line 27, ../sass/sideProjects.scss */
.playa .orbit-container {
  background-color: #1e1e1e;
}
/* line 30, ../sass/sideProjects.scss */
.playa ul {
  padding-left: 10px;
  list-style: none;
}

/* line 36, ../sass/sideProjects.scss */
.imgDiv {
  display: block;
  margin: 0 auto;
}

/* line 40, ../sass/sideProjects.scss */
#making-of {
  background-color: #1e1e1e;
}
