/* line 10, ../sass/style.scss */
.slide1 {
  background-image: url("../images/preslawn.jpg");
  background-size: cover;
}

/* line 14, ../sass/style.scss */
.slide2 {
  background-image: url("../images/good.png");
  background-size: cover;
}

/* line 19, ../sass/style.scss */
.slide3 {
  background-image: url("../images/kungfu.jpg");
  background-size: cover;
}

/* line 24, ../sass/style.scss */
.back {
  color: white;
  height: 100%;
  width: 100%;
}

/* line 32, ../sass/style.scss */
.orbit-bullets {
  display: table;
  text-align: center;
}

/* line 37, ../sass/style.scss */
body {
  font-family: 'Calibri';
  background-image: url("../images/binding_dark.png");
  height: 100%;
}

/* line 44, ../sass/style.scss */
p {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

/* line 51, ../sass/style.scss */
.my-orbit-div {
  height: 250px;
  color: white;
  margin: 40px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 55, ../sass/style.scss */
.my-orbit-div h2 {
  color: white;
}
/* line 58, ../sass/style.scss */
.my-orbit-div h3 {
  color: white;
}
/* line 61, ../sass/style.scss */
.my-orbit-div h4 {
  color: white;
}

/* line 73, ../sass/style.scss */
.orbit-container {
  background-color: transparent;
}

/* line 78, ../sass/style.scss */
#footer {
  background-color: #333333;
  color: #c8c8c8;
}
/* line 83, ../sass/style.scss */
#footer #footerContent {
  height: 100px;
  text-align: center;
  vertical-align: center;
  padding: 25px;
  background-color: transparent;
}
/* line 92, ../sass/style.scss */
#footer br {
  margin: 20px;
}
