/* line 10, ../sass/style.scss */
.slide1 {
  background-image: url("../images/preslawn.jpg");
  background-size: cover;
}

/* line 14, ../sass/style.scss */
.slide2 {
  background-image: url("../images/good.png");
  background-size: cover;
}

/* line 19, ../sass/style.scss */
.slide3 {
  background-image: url("../images/kungfu.jpg");
  background-size: cover;
}

/* line 24, ../sass/style.scss */
.back {
  color: white;
  height: 100%;
  width: 100%;
}

/* line 32, ../sass/style.scss */
.orbit-bullets {
  display: table;
  text-align: center;
}

/* line 37, ../sass/style.scss */
body {
  font-family: 'Calibri';
  background-image: url("../images/binding_dark.png");
  height: 100%;
}

/* line 44, ../sass/style.scss */
p {
  background-color: #c8c9c8;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

/* line 52, ../sass/style.scss */
.playa {
  margin-bottom: 20px;
  background-color: #c8c9c8;
}
/* line 55, ../sass/style.scss */
.playa h1 {
  color: white;
  padding: 20px;
  font-size: 40px;
  background-color: #1f2625;
  margin: 0px;
}
/* line 64, ../sass/style.scss */
.playa h2 {
  padding: 0px;
  padding-left: 20px;
  font-size: 30px;
}
/* line 70, ../sass/style.scss */
.playa h3 {
  padding: 30px;
  font-size: 20px;
}

/* line 82, ../sass/style.scss */
.my-orbit-div {
  height: 300px;
}

/* line 86, ../sass/style.scss */
.my-orbit-div-content {
  color: white;
  margin: 40px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 90, ../sass/style.scss */
.my-orbit-div-content h2 {
  color: white;
}
/* line 93, ../sass/style.scss */
.my-orbit-div-content h3 {
  color: white;
}
/* line 96, ../sass/style.scss */
.my-orbit-div-content h4 {
  color: white;
}

/* line 108, ../sass/style.scss */
.orbit-container {
  background-color: transparent;
}

/* line 113, ../sass/style.scss */
#footer {
  background-color: #333333;
  color: #c8c8c8;
}
/* line 118, ../sass/style.scss */
#footer #footerContent {
  height: 100px;
  text-align: center;
  vertical-align: center;
  padding: 25px;
  background-color: transparent;
}
/* line 127, ../sass/style.scss */
#footer br {
  margin: 20px;
}
