/* line 1, ../sass/tabs.scss */
.tabs {
  *zoom: 1;
  margin-bottom: 0 !important;
}

/* line 4, ../sass/tabs.scss */
.tabs:before, .tabs:after {
  content: " ";
  display: table;
}

/* line 7, ../sass/tabs.scss */
.tabs:after {
  clear: both;
}

/* line 9, ../sass/tabs.scss */
.tabs dd {
  position: relative;
  margin-bottom: 0 !important;
  top: 1px;
  float: left;
}

/* line 14, ../sass/tabs.scss */
.tabs dd > a {
  display: block;
  background: #efefef;
  color: #222222;
  padding-top: 0.88889rem;
  padding-right: 1.77778rem;
  padding-bottom: 0.94444rem;
  padding-left: 1.77778rem;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 0.88889rem;
}

/* line 24, ../sass/tabs.scss */
.tabs dd > a:hover {
  background: #e2e2e2;
}

/* line 26, ../sass/tabs.scss */
.tabs dd.active a {
  background: white;
}

/* line 28, ../sass/tabs.scss */
.tabs.radius dd:first-child a {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 35, ../sass/tabs.scss */
.tabs.radius dd:last-child a {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 42, ../sass/tabs.scss */
.tabs.vertical dd {
  position: inherit;
  float: none;
  display: block;
  top: auto;
}

/* line 48, ../sass/tabs.scss */
.tabs-content {
  *zoom: 1;
  margin-bottom: 1.33333rem;
}

/* line 51, ../sass/tabs.scss */
.tabs-content:before, .tabs-content:after {
  content: " ";
  display: table;
}

/* line 54, ../sass/tabs.scss */
.tabs-content:after {
  clear: both;
}

/* line 56, ../sass/tabs.scss */
.tabs-content > .content {
  display: none;
  float: left;
  /*padding: 0.83333rem 0;*/
}

/* line 60, ../sass/tabs.scss */
.tabs-content > .content.active {
  display: block;
}

/* line 62, ../sass/tabs.scss */
.tabs-content > .content.contained {
  padding: 0.83333rem;
}

/* line 64, ../sass/tabs.scss */
.tabs-content.vertical {
  display: block;
}

/* line 66, ../sass/tabs.scss */
.tabs-content.vertical > .content {
  padding: 0 0.83333rem;
}

@media only screen and (min-width: 40.063em) {
  /* line 70, ../sass/tabs.scss */
  .tabs.vertical {
    width: 20%;
    float: left;
    margin-bottom: 1.25rem;
  }

  /* line 74, ../sass/tabs.scss */
  .tabs-content.vertical {
    width: 80%;
    float: left;
    margin-left: -1px;
  }
}
