/* line 8, ../sass/tabs.scss */
.tabs {
  height: 52px;
  background: #333333;
  *zoom: 1;
  margin-bottom: 0 !important;
}

/* line 14, ../sass/tabs.scss */
.tabs:before, .tabs:after {
  content: " ";
  display: table;
}

/* line 18, ../sass/tabs.scss */
.tabs:after {
  clear: both;
}

/* line 21, ../sass/tabs.scss */
.tabs dd {
  position: relative;
  margin-bottom: 0 !important;
  top: 1px;
  float: left;
}

/* line 27, ../sass/tabs.scss */
.tabs dd > a {
  display: block;
  background: transparent;
  color: white;
  padding-top: 0.88889rem;
  padding-right: 1.77778rem;
  padding-bottom: 0.94444rem;
  padding-left: 1.77778rem;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 0.88889rem;
}

/* line 38, ../sass/tabs.scss */
.tabs dd > a:hover {
  background: #4b4b4b;
}

/* line 41, ../sass/tabs.scss */
.tabs dd.active a {
  background: #282828;
}

/* line 44, ../sass/tabs.scss */
.tabs.radius dd:first-child a {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 52, ../sass/tabs.scss */
.tabs.radius dd:last-child a {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 60, ../sass/tabs.scss */
.tabs.vertical dd {
  position: inherit;
  float: none;
  display: block;
  top: auto;
}

/* line 67, ../sass/tabs.scss */
.tabs-content {
  *zoom: 1;
  margin-bottom: 1.33333rem;
}

/* line 71, ../sass/tabs.scss */
.tabs-content:before, .tabs-content:after {
  content: " ";
  display: table;
}

/* line 75, ../sass/tabs.scss */
.tabs-content:after {
  clear: both;
}

/* line 78, ../sass/tabs.scss */
.tabs-content > .content {
  display: none;
  float: left;
  /*padding: 0.83333rem 0;*/
}

/* line 82, ../sass/tabs.scss */
.tabs-content > .content.active {
  display: block;
}

/* line 84, ../sass/tabs.scss */
.tabs-content > .content.contained {
  padding: 0.83333rem;
}

/* line 88, ../sass/tabs.scss */
.tabs-content.vertical {
  display: block;
}

/* line 91, ../sass/tabs.scss */
.tabs-content.vertical > .content {
  padding: 0 0.83333rem;
}

@media only screen and (min-width: 40.063em) {
  /* line 96, ../sass/tabs.scss */
  .tabs.vertical {
    width: 20%;
    float: left;
    margin-bottom: 1.25rem;
  }

  /* line 101, ../sass/tabs.scss */
  .tabs-content.vertical {
    width: 80%;
    float: left;
    margin-left: -1px;
  }
}
