/* line 13, ../sass/unity.scss */
p.header {
  font-size: small;
}

/* line 16, ../sass/unity.scss */
p.header span {
  font-weight: bold;
}

/* line 19, ../sass/unity.scss */
p.footer {
  font-size: x-small;
}

/* line 22, ../sass/unity.scss */
div.Unitycontent {
  margin: auto;
  width: 960px;
}

/* line 27, ../sass/unity.scss */
div.broken,
div.missing {
  margin: auto;
  position: relative;
  top: 50%;
  width: 193px;
}

/* line 34, ../sass/unity.scss */
div.broken a,
div.missing a {
  height: 63px;
  position: relative;
  top: -31px;
}

/* line 40, ../sass/unity.scss */
div.broken img,
div.missing img {
  border-width: 0px;
}

/* line 43, ../sass/unity.scss */
div.broken {
  display: none;
}

/* line 46, ../sass/unity.scss */
div#unityPlayer {
  cursor: default;
  height: 600px;
  width: 960px;
}
